<div class="container"> 
  <div class="row">
    <h4>About the Department of City Planning Population Division</h4>

    <p>
    The Population Division serves as New York City government's hub of demographic expertise. It is responsible for the compilation, analysis, and dissemination of census and related federal, state, and local data for city agencies, local communities, and the media. Within the department, the Population Division provides data for local and citywide planning studies, environmental review analyses, and capital planning strategies. In addition, the division provides other city agencies with data to address questions of concern involving needs assessment, program planning and targeting, and policy formulation. This includes the development of population estimates and projections for infrastructure and capital planning, such as projections for OneNYC, the long-term sustainability plan for New York City. The division works closely with the Census Bureau in an advisory capacity on the methods of data collection and dissemination for the decennial census and other federal surveys.</p>

    <h5>About the PUMs Data</h5>
    <p>DCP's Population division uses various Census Data including PUMs records which are further recoded to meet standards set by the Population division. These data contains recoded fields that originate from Census PUMs records. To learn more about PUMs data visit their <a href="https://www.census.gov/programs-surveys/acs/data/pums.html"> oficial site.</a></p>
  </div>
</div>