
<section id="home">
  <div id="home-cover">
    <div id="home-content-box">
      <div id="home-content-box-inner" class="text-center">
        <div id="home-heading">
          <h3>PUMs Cross Tabulation app</h3>
        </div>
        <div id="home-btn">
          <a class="btn btn-lg" href="#" role="button" title="Get Started">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>