
<section id="home">
  <div id="home-cover">
    <div id="home-content-box">
      <div id="home-content-box-inner" class="text-center row col-md-5">
        <div>
          <h1 id="home-heading" class="animated fadeInRight">PUMs Cross Tabulation app</h1>
        </div>
        <div class="btn-general">
          <a href="#" role="button" title="Get Started"><%= link_to "Get Started", pums_path, :class => 'btn btn-green btn-general' %></a>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<section>
  <div class='container'>
    <h2>U.S. CENSUS DATA FOR SOCIAL, ECONOMIC,
    AND HEALTH RESEARCH</h2>
    <br>
    <p>IPUMS USA collects, preserves and harmonizes U.S. census microdata and provides easy access to this data with enhanced documentation. Data includes decennial censuses from 1790 to 2010 and American Community Surveys (ACS) from 2000 to the present. <a href="https://usa.ipums.org/usa/">Learn more on IPUMS official site</a></p>
  </div>
</section>