
<section id="home">
  <div id="home-cover">
    <div id="home-content-box">
      <div id="home-content-box-inner" class="text-center row col-md-5">
        <div>
          <h1 id="home-heading" class="animated fadeInRight">PUMs Cross Tabulation app</h1>
        </div>
        <div class="btn-general">
          <a href="#" role="button" title="Get Started"><%= link_to "Get Started", pums_path, :class => 'btn btn-green btn-general' %></a>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<h2>ABOUT PUMS</h2>
<br>