@import "dcp_pumas.scss";
@import "bootstrap";



/* General CSS */
html,
body {
  height: 100%;
}

body {

  font-family: 'Roboto', sans-serif;
  background-color: #edf1f2;
}

h2 {
  font-family: 'Merriweather', serif;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
  padding: 0.5em;
}

h5 {
  text-align: center;
  font-size: 2.2em;
}

/* Home */
#home {
  height: 100vh;
}

#home-cover {
  height: 100vh;
  background-image: url("hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#home-content-box {
  width: 100vw;
  height: 100vh;
  display: table;
}

#home-content-box-inner {
  display: table-cell;
  vertical-align: middle;
}

#home-heading {
  color: black;
  font-size: 55px;
  font-weight: 700;
  margin: 20px 0 20px 0;
  text-transform: uppercase;

}

.btn-general {
  border-color: #d0d2d8;
  border-width: 2px;
  border-radius: 0;
  padding: 12px 26px 12px 26px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-green {
  border-color: #d0d2d8;
  color: #d0d2d8;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #0E183F;
  color: #d0d2d8;
}

/* Navigation */
.nav-style {

  color: black;
}

.nav-style:active {
  background-color: #0E183F;
  color: #d0d2d8;
}

li {
  margin: 0.5em;
  padding: 0.5em;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #0E183F;
  color: #d0d2d8;
  transition: all 0.3s;
}

/* Tables */
.table-h1 {
  background-color: #0E183F;
  text-align: left;
  color: #d0d2d8;
  width: 35%;
}

.table-h2 {
  background-color: #0E183F;
  text-align: right;
  color: #d0d2d8;
}

.tbl {
  text-align: right;
}

.toggle {
  background-color: #0E183F;
  color: #d0d2d8;
}

.toggle:hover {
  background-color: rgb(30, 46, 114);
  color: #d0d2d8;
}

.toggle-div {
  background-color: #edf1f2;
}