@import "dcp_pumas.scss";
@import "bootstrap";

/* General CSS */
html,
body {
  height: 100%;
}

body {

  font-family: 'Roboto', sans-serif;
  background-color: #edf1f2;
}

h2 {
  font-family: 'Merriweather', serif;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
}

h5 {
  text-align: center;
  font-size: 2.2em;
}

/* Home */
#home {
  height: 100vh;
}

#home-cover {
  height: 100vh;
  background-image: url("hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#home-content-box {
  width: 100vw;
  height: 100vh;
  display: table;
}

#home-content-box-inner {
  display: table-cell;
  vertical-align: middle;
}

#home-heading {
  color: black;
  font-size: 55px;
  font-weight: 700;
  margin: 20px 0 20px 0;
  text-transform: uppercase;

}

.btn-general {
  border-color: #fff;
  border-width: 2px;
  border-radius: 0;
  padding: 12px 26px 12px 26px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-green {
  border-color: #fff;
  color: #fff;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #079e99;
  color: #07211f;
}

/* Tables */
.table-h {
  background-color: #0156a0;
  text-align: left;
}